body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  line-height: 1;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;

  color: #66BFBF;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
  margin: 20px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

a:hover {
  color: #EAF6F6;
}

hr {
  border-style: dotted none none none;
  width: 5%;
  border-width: 5px;
  border-color: #000;
  background-color: #fff;
  margin: 6rem auto;
}

.top-container {
  background: #E4F9F5;
  padding-top: 100px;
  position: relative;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 20px;
  line-height: 2;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 350px;
}

.top-cloud {
  position: absolute;
  right: 250px;
  top: 50px;
}

.circular {
  border-radius: 100%;
  width: 200px;
}

.subtitle {
  font-weight: normal;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
  position: relative;
}

.quarter1 {
  width: 30%;
  border-radius: 100%;
  float: left;
  margin-right: 30px;
}

.quarter2 {
  width: 30%;
  border-radius: 100%;
  float: right;
  margin-left: 30px;
}

.contact-me {
  width: 40%;
  margin: 50px auto 60px auto;
  line-height: 2;
}

.last {
  margin-bottom: 30px;
}

.profile {
  margin: 70px auto;
  width: 30%;
  line-height: 2;
}

.skills {
  margin: 50px auto;
}

.mountain {
  padding-top: 50px;
}

/* .btn {
   background: #2073D1;
   background-image: -webkit-linear-gradient(top, #2073D1, #A6C3F3);
   background-image: -moz-linear-gradient(top, #2073D1, #A6C3F3);
   background-image: -ms-linear-gradient(top, #2073D1, #A6C3F3);
   background-image: -o-linear-gradient(top, #2073D1, #A6C3F3);
   background-image: -webkit-gradient(to bottom, #2073D1, #A6C3F3);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   height: 0;
   line-height: 0;
   color: #FFFFFF;
   font-family: 'Montserrat', sans-serif;
   width: 102px;
   font-size: 15px;
   font-weight: 100;
   padding: 15px;
   -webkit-box-shadow: 0 0 0 0 #FAFAFB;
   -moz-box-shadow: 0 0 0 0 #FAFAFB;
   box-shadow: 0 0 0 0 #FAFAFB;
   text-shadow: 0 0 20px #000000;
   border: none #0059A0 5px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: none #0059A0 5px;
   background: #A6C3F3;
   background-image: -webkit-linear-gradient(top, #A6C3F3, #2073D1);
   background-image: -moz-linear-gradient(top, #A6C3F3, #2073D1);
   background-image: -ms-linear-gradient(top, #A6C3F3, #2073D1);
   background-image: -o-linear-gradient(top, #A6C3F3, #2073D1);
   background-image: -webkit-gradient(to bottom, #A6C3F3, #2073D1);
   -webkit-border-radius: 8px
   -moz-border-radius: 8px;
   border-radius: 8px;
   text-decoration: none;
} */

.btn {
  background-color: #66BFBF;
  color: #fff;
}

.btn:hover {
  color: #fff;
}
